.background-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000ad;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 10000;
}

.burger-menu-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background: var(--gradient-purple-blue);
    z-index: 10000;
    display: flex;
}
.options-burger-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    justify-content: start;
    align-items: center;
    /* padding-left: 25px; */
    padding-top: 40px;
    color: var(--white);
}

.options-burger-container i{
    color: red;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 1.2rem;
}

.option-burger{
    cursor: pointer;
    width: 100%;
    padding-left: 25px;
    z-index: 10001;
    
}
