.redirect-card-wrapper{
    width: 400px;
    height: 350px;
    background: var(--background-redirect-card);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.redirect-card-wrapper:hover{
    cursor: pointer;
}
.redirect-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    width: 50%;
    height: 50%;
    background: var(--white);
    border-radius: 50%;
}

.redirect-icon img {
    height: 120px;
    width: 120px;
}

.redirect-description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: var(--black);
    color: var(--white);
    height: 50px;
    border-radius: var(--radius);
}

@media (max-width: 500px){
    .redirect-card-wrapper{
        width: 300px;
        height: 250px;
    }
    .redirect-card-wrapper:hover{
        cursor: pointer;
    }

    .redirect-icon img {
        height: 80px;
        width: 80px;
    }
}