.manager-generate-wrapper{
    width: 100%;
    /* display: grid;
    grid-template-rows: 5% 10% 80% 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    min-height: calc(100vh - calc(var(--footer-size) + var(--header-size)));
    background: var(--white);

    overflow-y: scroll;
    
}

.manager-generate-selector{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: end;
    height: 100%;
    /* padding-left: 50px; */
    margin-bottom: 10px;
}

.manager-generate-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* margin: 10px; */
}

.manager-generate-schedule {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.manager-generate-buttons{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;

 
}

@media (max-width: 1100px){
    .manager-generate-main{
        flex-direction: column;
        gap: 15px
    }
    .manager-generate-schedule{
        width: 100%;
    }
    .manager-generate-selector{
        margin-left: 20px;
    }
    .manager-generate-buttons{
        padding-left: 20px;
        padding-right: 20px;
    }
}