.student-generate-wrapper{
    width: 100%;
    display: grid;
    grid-template-rows: 10% 80% 1fr;
    height: calc(100vh - calc(var(--footer-size) + var(--header-size)));
    background: var(--white);
    
}

.student-generate-main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.student-generate-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}