.carousel-container{
    width: 500px;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.arrow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-size: 1rem;
    height: 100px;
    width: 50px;
    background: var(--gradient-pinks);
    border-radius: var(--radius);
}
