.carousel-container{
    width: 500px;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.perritos{
    animation: ratones 1s linear forwards;
}

@keyframes ratones {
    to{
        transform: translateX(500px);
    }
}