body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

body p{
  margin: 0;
  padding: 0;
  /* color:  #FF8ABE; */
}

:root{
  --radius: 5px;
  --white: #F2F2F8;
  --black: #313132;
  --gradient-pinks: linear-gradient(90deg, #E387F5, #FF8ABE);
  --gradient-purples: linear-gradient(90deg, #7B2EFF, #8994FA);
  --p: 1rem;
}

p{
  margin: 0;
  padding: 0;
}